/*
Theme Name: RPM Raceway
Theme URI: http://theahsan.com
Author: Ahsan Rehman
Author URI: http://ahsanrehman.com/
Description: RPM Raceway Theme
Version: 1.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Text Domain: bd
*/
@import 'assets/css/bootstrap.min.css';
@import 'assets/css/jquery.bxslider.css';
@import 'assets/css/owl.carousel.min.css';
@import 'assets/css/owl.theme.default.min.css';
@import 'assets/css/fonts.css';
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

body {
    font-family: 'Droid Sans', sans-serif;
    overflow-x: hidden;
}
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
        white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.container-fluid {
    padding-left: 0px;
}

/*-------------------------------------------------------------------

    ***ONLY MINIFIED VERSION IS REFERENCED IN THEME***

    1) VARIABLES
    2) COMPONENTS
    3) ELEMENTS
    4) PRIMARY NAVIGATION
    6) FOOTER
    7) PAGE LAYOUTS / PAGE TEMPLATES
    8) SIDEBAR / WIDGETS
    11) BLOG / ARCHIEVE / CATEGORIES
    12) SINGLE POST
    13) STYLEGUIDE
    14) 404 / ERROR PAGE
    ...
    X) RESPONSIVNESS BREAKING POINTS

-------------------------------------------------------------------*/

@charset "utf-8";

/*-------------------------------------------------------------------
    VARIABLES
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    COMPONENTS
-------------------------------------------------------------------*/

html,
body {
    font-size: 16px;
    margin: 0 !important;
    font-family: 'Helvetica';
}

* {
    box-sizing: border-box;
    transition: all .25s ease-in-out 0s;
}


/*-----------------------------------------
      TYPOGRAPHY
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
    color: #d81212
}

.block--dark h1, .block--dark h2, .block--dark h3, .block--dark h4, .block--dark h5, .block--dark h6, .block--dark .widget h1, .block--dark .widget h2, .block--dark .widget h3, .block--dark .widget h4, .block--dark .widget h5, .block--dark .widget h6{
    border-color: #ffffff;
    color: #ffffff;
}

h1,
.widget h1 {
    font-size: 3.5em;
}

h2,
.widget h2 {
    font-size: 2.25em;
}

h3,
.widget h3 {
    font-size: 1.625em;
}

h4,
.widget h4 {
    font-size: 1.5em;
}

h5,
.widget h5 {
    font-size: 1.125em;
}

h6,
.widget h6 {
    font-size: 1em;
}

p,
a,
ol,
ul {
    color: #23343f;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.38;
    margin: 0 0 1.25em 0;
    word-wrap: break-word
}

.block--dark p, .block--dark a, .block--dark ol, .block--dark ul{
    border-color: #ffffff;
    color: #ffffff;
}

p {
}

p.p--legal{
    font-size: 12px;
    font-size: .75rem;
}

a {
    margin: 0;
}

ul li {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: .75rem auto;
    list-style: none;
    margin: 0 0 8px 0;
    margin: 0 0 .5rem 0;
    padding: 0 0 0 24px;
    padding: 0 0 0 1.5rem;
}

hr {
    background: #23343f;
    height: 2px;
    margin: 12px 0;
    margin: .75rem 0;
    width: 100%;
}

blockquote,
q {
    background-repeat: no-repeat;
    background-position: center left 10px;
    background-size: 50px auto;
    border: none;
    padding: 15px 25px 15px 75px;
    quotes: none;
    margin: 24px 0;
    margin: 1.5rem 0
}

blockquote p, q p{
    font-size: 18px;
    font-size: 1.125rem;
}

blockquote p:last-child, q p:last-child{
    margin: 0;
}


/*-----------------------------------------
      BLOCKS / SECTIONS
-----------------------------------------*/

.block {
    width: 100%
}

.block.block--clearfix{
}

.block.block--clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.block.block--dark{
    background: #23343f;
}

.block.block--flex{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.block.block--max{
    max-width: 1200px;
    margin: 0 auto;
}

.block.block--half{
    margin: 0 1% 16px 1%;
    margin: 0 1% 1rem 1%;
    width: 48%;
}

.block.block--half-full{
    margin: 0;
    width: 50%;
}

.block.block--third{
    margin: 0 1% 16px 1%;
    margin: 0 1% 1rem 1%;
    width: 31.33%;
}

.block.block--third-full{
    margin: 0;
    width: 33.33%;
}

.block.block--fourth{
    margin: 0 1% 16px 1%;
    margin: 0 1% 1rem 1%;
    width: 23%;
}

.block.block--fourth-full{
    margin: 0;
    width: 25%;
}

.vertical-align {
    display: table;
    text-align: center;
}

.vertical-align__child {
    display: table-cell;
    vertical-align: middle;
}


/*-----------------------------------------
      BUTTONS
-----------------------------------------*/

.btn {
    background: #d81212;
    border: 2px solid #d81212;
    color: #ffffff;
    padding: .75em 1.5em;
    text-decoration: none;
    margin: 0 8px 16px 0;
    margin: 0 .5rem 1rem 0;
    display: inline-block
}

.btn:hover,
    .btn:focus{
    background-color: rgb(205, 122, 66);
    border-color: rgb(205, 122, 66);
}

.btn.btn--ghost{
    background-color: transparent;
    color: #d81212;
}

.btn.btn--ghost:hover,
        .btn.btn--ghost:focus{
    background-color: #d81212;
    border-color: #d81212;
    color: #ffffff;
}

.block--dark .btn.btn--ghost{
    color: #ffffff;
    border-color: #ffffff;
}

.block--dark .btn.btn--ghost:hover,
            .block--dark .btn.btn--ghost:focus{
    border-color: #d81212;
}

.btn.btn--arrow,
    .btn.btn--email,
    .btn.btn--phone,
    .btn.btn--map,
    .btn.btn--pdf{
    padding: .75em 2.8em .75em 1.5em;
}

.btn.btn--arrow svg, .btn.btn--email svg, .btn.btn--phone svg, .btn.btn--map svg, .btn.btn--pdf svg{
    max-height: 1.35em;
    max-width: 1.35em;
    display: inline-block;
    vertical-align: middle;
    fill: #ffffff;
    margin: 0 0 0 .5em;
    position: absolute;
}

.btn.btn--secondary{
    background: #5a8ba0;
    border-color: #5a8ba0;
    color: #ffffff;
}

.btn.btn--secondary:hover,
        .btn.btn--secondary:focus{
    background-color: rgb(81, 125, 144);
    border-color: rgb(81, 125, 144);
}

.btn.btn--secondary.btn--ghost{
    background-color: transparent;
    color: #5a8ba0;
}

.btn.btn--secondary.btn--ghost:hover,
            .btn.btn--secondary.btn--ghost:focus{
    background-color: #5a8ba0;
    border-color: #5a8ba0;
    color: #ffffff;
}

.block--dark .btn.btn--secondary.btn--ghost{
    color: #ffffff;
    border-color: #ffffff;
}

.block--dark .btn.btn--secondary.btn--ghost:hover,
                .block--dark .btn.btn--secondary.btn--ghost:focus{
    border-color: #5a8ba0;
}


/*-----------------------------------------
      SOCIAL BUTTONS
-----------------------------------------*/

.social-link {
    background-color: #d81212;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 12px
}

.social-link svg{
    fill: #fff;
    max-width: 100%;
    max-height: 100%;
}

.social-link:hover,
    .social-link:focus{
    background-color: rgb(205, 122, 66);
}


/*-----------------------------------------
      FORMS
-----------------------------------------*/

form ul li {
    background-image: none;
    padding: 0;
}

form input,
form input:focus,
form select,
form select:focus,
form textarea,
form textarea:focus {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    /*border: 1px solid #a9a9a9;*/
    outline: none !important;
}

input[type="radio"] {
    background: #a9a9a9;
    border-radius: 50%;
    height: 14px;
    height: .875rem;
    min-width: 14px;
    min-width: .875rem
}

input[type="radio"]:checked{
    background-color: #d81212;
    border-color: #d81212;
}

input[type="checkbox"] {
    background: #a9a9a9;
    border-radius: 3px;
    height: 14px;
    height: .875rem;
    min-width: 14px;
    min-width: .875rem
}

input[type="checkbox"]:checked{
    background-color: #d81212 !important;
    border-color: #a10a0a;
}

button[type="submit"] {
    cursor: pointer;
    font-size: 1em;
    font-family: 'Helvetica';
}

.gform_wrapper * {
    transition: none;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
    font-weight: inherit !important;
}

.gform_wrapper .validation_message {
    display: none !important;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    border: none !important;
    padding: 0 16px 0 0 !important;
    background-color: transparent !important;
    margin-bottom: 0px !important;
}

.gform_wrapper.gf_browser_chrome .gfield_error input[type=email],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=number],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=password],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=tel],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=text],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=url],
.gform_wrapper.gf_browser_chrome .gfield_error select,
.gform_wrapper.gf_browser_chrome .gfield_error textarea,
.gform_wrapper.gf_browser_chrome li.gfield_error.field_sublabel_above .ginput_complex input[type=text] {
    margin-bottom: 0 !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
    margin-top: 8px !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0 !important;
}

.gform_wrapper .gfield_error .gfield_label {
    color: inherit !important;
}

.LV_invalid_field {
    border-color: #c14e3d;
}

.LV_valid_field {
    border-color: #6eaa48;
}


/*-------------------------------------------------------------------
    ELEMENTS
-------------------------------------------------------------------*/


/*-----------------------------------------
      NAVIGATION
-----------------------------------------*/

nav {
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    background-image: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    padding: .5rem 1rem;
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 18px;
    text-transform: uppercase;
    /*border-bottom: 2px solid #d81212;*/
}
nav ul li a.arrive {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    padding: 0px;
    text-transform: none;
}

nav ul li a:hover,
                nav ul li a:focus{
    color: #cc0010;
}
nav ul li a.arrive:hover {
    color: #fff;
    background: #cc0010;
}

nav.nav--vertical{
}

nav.nav--vertical li{
    display: block;
}

nav.nav--primary{
    float: right;
    padding: 20px 32px;
    padding: 1.25rem 2rem;
}

nav.nav--primary ul li a{
    color: #ffffff;
    margin-right: 16px;
    margin-right: 1rem;
}

nav.nav--primary ul li a:hover,
            nav.nav--primary ul li a:focus{
    color: #d81212;
}

nav.nav--secondary{
}

nav.nav--secondary ul{
    font-size: 0;
}

nav.nav--secondary ul li a{
    color: #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
}

nav.nav--secondary ul li a:hover,
                nav.nav--secondary ul li a:focus{
    color: #23343f;
    border-color: #23343f;
}

.primary-nav {
    z-index: 100000
}

.primary-nav img#nav-logo{
    display: inline-block;
    vertical-align: top;
    margin: 16px 0 16px 32px;
    margin: 1rem 0 1rem 2rem;
}

.anchor {
    position: absolute;
    top: -120px;
}


/*-----------------------------------------
      FOOTER
-----------------------------------------*/

footer#footer {
}

footer#footer .copyright{
    padding: 8px 0;
    padding: .5rem 0;
}

footer#footer .copyright p{
    margin: 0;
    display: inline-block;
}

footer#footer .copyright #element5-credit{
    float: right;
}


/*-----------------------------------------
      PAGE TITLES
-----------------------------------------*/

.page-title-container {
    background-size: cover;
    background-position: center;
    min-height: 400px
}

.page-title-container h1{
    text-align: center;
}


/*-----------------------------------------
      POST PREVIEW
-----------------------------------------*/


/*-----------------------------------------
      SLIDERS
-----------------------------------------*/

.slick-track {
    transition: none;
}


/*fix infinite animation*/


/*-------------------------------------------------------------------
    PAGE LAYOUTS / PAGE TEMPLATES
-------------------------------------------------------------------*/

.sidebar {
    width: 250px;
    margin: 0 0 0 50px
}

.sidebar#styleguide-sidebar{
    height: 375px;
}

.sidebar.sidebar--left{
    margin: 0 50px 0 0;
}

.page {
    width: 100%
}

.page.page--sidebar{
    width: calc(100% - 300px);
}

.default-contents {
}

.default-contents img.alignleft{
    float: left;
    margin: 0 24px 12px 0;
    margin: 0 1.5rem .75rem 0;
}

.default-contents img.alignright{
    float: right;
    margin: 0 0 12px 24px;
    margin: 0 0 .75rem 1.5rem;
}

.default-contents img.aligncenter{
    display: block;
    margin: 24px auto;
    margin: 1.5rem auto;
}


/*-----------------------------------------
    BLOG / ARCHIEVE / CATEGORIES
-----------------------------------------*/


/*-----------------------------------------
    SINGLE POST
-----------------------------------------*/


/*-----------------------------------------
    404 / ERROR PAGE
-----------------------------------------*/

.page--error {
    margin: 0 auto;
    max-width: 600px;
    padding: 75px 10px;
    text-align: center
}

.page--error h1{
    font-size: 250px;
    line-height: 1;
    margin: 0;
}

.page--error form.search-form label span.screen-reader-text{
    display: none;
}

.page--error form input.search-field{
    border-radius: 8px;
    padding: 16px;
    width: calc(100% - 145px);
}

.page--error form button.search-submit{
    vertical-align: top;
}


/*-----------------------------------------
    STYLEGUIDE
-----------------------------------------*/

.styleguide-section {
    position: relative
}

.styleguide-section:first-child h2:nth-child(2){
    margin-top: 25px;
}

.styleguide-section h2:nth-child(2){
    margin-bottom: 8px;
    margin-bottom: .5rem;
    margin-top: 100px;
}

.styleguide-section h3.section--sub-title{
    margin: 50px 0 16px 0;
    margin: 50px 0 1rem 0;
    border-bottom: 1px solid #a9a9a9;
}

.styleguide-section .section--sub{
    position: relative;
}

.styleguide-section .logo-primary{
    border: 1px solid #a9a9a9;
    padding: 48px;
    padding: 3rem;
    text-align: center;
    max-width: 100%;
}

.styleguide-section .logo-varient{
    border: 1px solid #a9a9a9;
    padding: 16px;
    padding: 1rem;
}

.styleguide-section .logo-varient .varient-image{
    min-height: 200px;
}

.styleguide-section .logo-varient .varient-image img{
    max-height: 100%;
    max-width: 100%;
}

.styleguide-section .color-swatch{
    height: 120px;
}

.styleguide-section .color-swatch-details{
    border: 1px solid #a9a9a9;
    padding: .25em;
}

.styleguide-section .color-swatch-details p{
    margin-bottom: .25em;
}

.styleguide-section .font-family{
    border: 1px solid #a9a9a9;
    padding: 16px;
    padding: 1rem;
    min-height: 120px;
}

.styleguide-section .font-family p{
    margin-bottom: .25em;
}

.styleguide-section .headline-option{
    padding: 16px 16px 16px 16px;
    padding: 1rem 1rem 1rem 1rem;
    border-top: 1px solid #a9a9a9;
}

.styleguide-section .headline-option.first{
    border: none;
}

.styleguide-section .headline-option h1,
        .styleguide-section .headline-option h2,
        .styleguide-section .headline-option h3,
        .styleguide-section .headline-option h4,
        .styleguide-section .headline-option h5,
        .styleguide-section .headline-option h6,
        .styleguide-section .headline-option p{
    margin: 0;
}

.styleguide-section .headline-option p.p--legal{
    margin-top: 5px;
    margin-top: .35rem;
}

.styleguide-section .button-continer{
    padding: 16px;
    padding: 1rem;
}

.styleguide-section .icon-container{
    border: 1px solid #a9a9a9;
    padding: 16px;
    padding: 1rem;
    text-align: center;
}

.styleguide-section .icon-container img{
    max-width: 100%;
    max-height: 100%;
}

.styleguide-section .imagery-container{
    border: 1px solid #a9a9a9;
    text-align: center;
}

.styleguide-section .imagery-container img{
    max-width: 100%;
    max-height: 400px;
    vertical-align: top;
}


/*-------------------------------------------------------------------
    RESPONSIVNESS BREAKING POINTS
-------------------------------------------------------------------*/

@media only screen and (max-width: 1200px) {
    .page-container {
        padding: 0 1rem;
    }
    footer#footer .copyright {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 800px) {
    /*--BLOCKS--*/
    .block.block--fourth {
        width: 48%;
    }
    .block.block--fourth-full {
        width: 50%;
    }
    /*--PAGE LAYOUTS--*/
    .sidebar {
        width: 100%;
        margin: 0
    }
    .sidebar.sidebar--left{
        margin: 0;
    }
    .page.page--sidebar {
        width: 100%;
    }
    .csColumn {
        text-align: left !important;
    }
}

@media only screen and (max-width: 700px) {}

@media only screen and (max-width: 500px) {
    /*--BLOCKS--*/
    .block {
        width: 100%
    }
    .block.block--half{
        margin: 0 0 1rem 0;
        width: 100%;
    }
    .block.block--half-full{
        margin: 0;
        width: 100%;
    }
    .block.block--third{
        margin: 0 0 1rem 0;
        width: 100%;
    }
    .block.block--third-full{
        margin: 0;
        width: 100%;
    }
    .block.block--fourth{
        margin: 0 0 1rem 0;
        width: 100%;
    }
    .block.block--fourth-full{
        margin: 0;
        width: 100%;
    }
    /*--FOOTER--*/
    footer#footer .copyright #element5-credit {
        float: none;
    }
}

.container {
    max-width: 1440px;
    position: relative;
    width: 100%;
}
.row {
    margin: 0px;
}

.top-header {
    background-color: #303030;
    border-top: 2px solid #fff;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.top-header .tel a {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    vertical-align: middle;
}
.top-header .tel a img {
    display: inline-block;
    margin-right: 13px;
    vertical-align: middle;
}
.top-header .tel a:focus {
    outline: none;
}
.top-header ul {
    margin: 0px;
    padding: 0px;
}
.top-header ul li:first-child {
    font-family: 'Droid Sans';
    font-size: 12px;
}
.top-header ul li{
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 16px;
    text-transform: none;
    margin-bottom: 0px;
    padding: 0px 11px;
    border-left: 1px solid #979797;
    line-height: 33px;
}
.top-header ul li:last-child {
    padding: 0px;
}

.top-header .dropdown-menu {
    right: 41px;
    left: inherit;
    z-index: 9999999;
    border-radius: 0px;
    min-width: 130px;
}
.top-header .dropdown-menu li {
    display: block;
    padding: 0px 0px;
    border-left: 0px;
}
.top-header ul.dropdown-menu li:first-child {
    font-family: "Bebas Neue";
    font-size: 16px;
}
.dropdown-menu>li>a {
    padding: 5px 12px;
    font-family: "Bebas Neue";
}
.sub-menu {
    position: absolute;
    width: 173px;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    left: 12px;
    padding-left: 12px;
    top: 83px;
}
.sub-menu li {
    display: block;
}
.sub-menu li a:after {
    content: '' !important;
}
.sub-menu li a {
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #fff !important;
    text-transform: none;
    padding: 0px 0px;
}
header:not(.woocommerce-products-header).sticky .nav > li .sub-menu {
    top: 81px;
}
header:not(.woocommerce-products-header).sticky .nav > li .sub-menu a {
    padding: 0px;
}
.sub-menu li a:hover {
    color: #cc0010 !important;
    text-decoration: none;
}
.nav>li:hover a {
    color: #cc0010;
}
.nav li:hover .sub-menu {
    display: block;
}
.nav .menu-item-has-children a:after {
    content: "\f107";
    font-family: FontAwesome;
    color: #989898;
    margin-left: 7px;
}
.nav .menu-item-has-children:hover a:after{
    content: "\f106";
}
header:not(.woocommerce-products-header) {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0px 0px 0px 40px;
    position: absolute;
    top: 38px;
    width: 100%;
    z-index: 99;
}
@media (max-width: 1400px) {
    header:not(.woocommerce-products-header) {
        padding: 0px 0px 0px 20px;
    }
}
.navbar-header {
    padding-top: 14px;
}

header:not(.woocommerce-products-header).sticky {
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 0px;
    z-index: 9999;
    transition: all 0.3s;
}
header:not(.woocommerce-products-header).sticky .logo-sticky {
    margin-top: 10px;
}
header:not(.woocommerce-products-header).sticky .nav > li a {
    /*padding: 30px 20px;*/
}
header:not(.woocommerce-products-header).sticky .nav > li a.arrive {
    /*padding: 0px;*/
}
header:not(.woocommerce-products-header).sticky .nav > li:last-child {
    padding-right: 10px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: none;
}
.nav li a .fa-angle-down {
    margin-left: 5px;
    color: #989898;
}
.nav>li>a {
    padding: 31px 30px;
}
.nav>li>a:focus {
    outline: none;
}
.search-section {
    position: absolute;
    left: -40px;
    background: #303030;
    padding: 15px;
    bottom: -58px;
    right: 0;
}
.search-section input {
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    border: 2px solid #d81212;
    background: #303030;
    color: #fff;
    outline: 0px !important;
}
@media (max-width: 1400px) {
    .search-section {
        left: -20px;
    }
    .nav>li>a {
        padding: 31px 26px;
    }
}
.nav>li {
    padding: 0px;
}
.navbar {
    margin-bottom: 0px;
}
.nav li a .fa-search {
    font-size: 26px;
    width: 24px;
}
.nav li:last-child {
    padding-bottom: 0px;
    padding-right: 10px;
}
.arrive-btn {
    border: 2px solid #666666;
    padding: 0px !important;
    margin-top: 18px;
}
.arrive-btn a {
    padding: 10px 12px !important;
}
.arrive-btn img {
    display: inline-block;
    margin-right: 8px;
}
.navbar-nav > li.search-btn >a {
    padding-top: 28px;
    padding-bottom: 27px;
}
@media (max-width: 1400px) {
    .navbar-nav > li.search-btn >a {
        padding-right: 10px;
    }
}
.banner ul {
    margin: 0px;
    padding: 0px;
}
.banner ul li {
    background-size: cover;
    height: 746px;
    align-items: center;
    display: flex;
    text-align: center;
    background-position: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.banner h1 {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 80px;
    line-height: 110px;
}

.banner .button {
    width: 243px;
    height: 55px;
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 53px;
    position: relative;
    display: inline-block;
    margin: 25px 13px 0px 0px;
    text-align: left;
    padding-left: 30px;
    transition: all 0.3s;
    overflow: hidden;
    -webkit-transition: all .7s ease;
}
.banner .button.red:before {
    background-color: #a10a0a;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    left: 63%;
    transition: all 0.3s;
    -webkit-transition: all .7s ease;
}
.banner .button.red:hover:before {
   content: '';
    left: -45px;
    width: 132%;
}

.banner .button:hover {
    text-decoration: none;
}
.button span {
    position: relative;
    z-index: 9999;
}
.banner .button:after {
    font-family: FontAwesome;
    content: "\f061";
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 18px;
    z-index: 9999;
}
.bx-wrapper img {
    margin: 0 auto;
}
.bx-wrapper {
    box-shadow: 0px 0px 0px;
    border: 0px;
    margin-bottom: 0px;
}
.banner .button.red {
    background-color: #d90909;

}
.banner .button.red:before {
    content: "";
    background: url(assets/images/red-hover.png) no-repeat 0 0 scroll;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 90px;
    height: 55px;
    z-index: 999;
}
.banner .button.black:before {
    content: "";
    background: url(assets/images/black-hover.png) no-repeat 0 0 scroll;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 90px;
    height: 55px;
    z-index: 999;
}
.banner .button.black {
    background-color: #252525;

}

.main-footer {
    background: url(assets/images/black-hover.png);
    min-height: 667px;
    width: 100%;
}
.footer-social {
}
.footer-social a {
    display: inline-block;
}
.our-partner h4 {
    color: #000000;
    font-family: "Bebas Neue";
    font-size: 28px;
    text-align: center;
}
.four-column h4 {
    color: #000000;
    font-family: "Bebas Neue";
    font-size: 28px;
    text-align: center;
}
.our-partner {
    padding: 25px 0px 40px;
}
.our-partner ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}
.our-partner ul li {
    display: inline-block;
    vertical-align: middle;
    /*padding: 0px 50px;*/
}
.our-partner .bx-wrapper {
    margin: 35px auto 0;
}
.red-box {
    width: 582px;
    height: 659px;
    background-color: #d81212;
    position: absolute;
    left: 91px;
    top: 139px;
    padding: 80px 102px 80px 86px;
}
.middle-banner {
    min-height: 556px;
    background-size: cover;
    position: relative;
}
.red-box h2 {
    font-family: "Bebas Neue";
    line-height: 67px;
    font-size: 96px;
    color: #fff;
}
.red-box h3 {
    font-family: "Bebas Neue";
    line-height: 67px;
    font-size: 72px;
    color: #fff;
}
.red-box p {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}
.black-btn {
    padding: 0px 25px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    border: 2px solid #000;
    margin-right: 8px;
}
.black-btn:hover {
    text-decoration: none;
/*    background: #ffffff;
    color: #000;
    border: 2px solid #000;*/
    background: #303030;
    color: #fff;
    border: 2px solid #303030;
}
.white-btn {
    padding: 0px 25px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    margin-right: 8px;
}
.white-btn:hover {
    text-decoration: none;
    background: #a10a0a;
    color: #fff;
    border: 2px solid #fff;
}
.red-btn {
    padding: 0px 25px;
    background-color: #d81212;
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    border: 2px solid #d81212;
    margin-right: 8px;
    vertical-align: middle;
}
.red-btn:hover {
    text-decoration: none;
    background: #a10a0a;
    border: 2px solid #a10a0a;
    color: #fff;
}
.content-with-image {
    padding: 80px 0px;
}
.line-break {
    padding: 0px 0px 15px;
}
.line-break img {
    width: auto !important;
}
.left-content {
    width: 50%;
    float: left;
    position: relative;
}
.right-content {
    width: 50%;
    float: left;
    position: relative;
}
.right-content .circle {
    left: 22px;
}
.right-content .content {
    padding-left: 80px;
    width: 535px;
}
.right-content .white-btn {
    border-color: #d90909;
    color: #d90909;
}
.right-content .white-btn:hover {
    border-color: #d90909;
    background: #d90909;
    color: #fff;
}
.content h6 {
    color: #d81212;
    font-family: "Droid Sans";
    font-size: 18px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 25px;
}
.content h3 {
    color: #000000;
    font-family: "Bebas Neue";
    font-size: 72px;
    line-height: 67px;
    margin: 0px;
}
.content h2 {
    color: #d81212;
    font-family: "Bebas Neue";
    font-size: 96px;
    line-height: 87px;
    margin-top: 0px;
}
.content p {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}
.circle {
    width: 173px;
    height: 173px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 48px;
    text-align: center;
    line-height: 170px;
    top: -94px;
}
.circle:after {
    content: '';
    background: url(assets/images/circle.png) no-repeat 0 0 scroll;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 131px;
    height: 131px;
    transition: all 0.3s;
}

.circle.black:after {
    content: '';
    background: url(assets/images/black-circle.png) no-repeat 0 0 scroll;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 131px;
    height: 131px;
}
.left-content figure img {
    width: 100%;
}
.left-content .content {
    /*padding-left: 150px;*/
    width: 628px;
    padding-right: 80px;
    float: right;
}
.full-image {
    min-height: 530px;
    background-size: cover;
    background-position: center;
}
.content-with-image.home-content .full-image {
    min-height: 370px;
}
.full-image img {
    width: 100%;
}
.main-footer {
    background-image: url(assets/images/footerbg.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #000;
    min-height: 667px;
    width: 100%;
}
.footer-social {
    text-align: right;
    margin-top: 5px;
}
.footer-social a {
    display: inline-block;
    margin-left: 10px;
    border: 3px solid #d81212;
    border-radius: 100%;
    width: 41px;
    height: 41px;
    color: #fff;
    font-size: 18px;
    padding: 6px 0;
    text-align: center;
}
.footer-social a:hover {
    background: #d81212;
}
.footer-top {
    padding: 37px 0;
    border-bottom: 2px solid #666666;
}
.footer-widget {
    padding: 37px 0;
    border-bottom: 2px solid #666666;
}
.footer-widget,
.footer-widget p {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 10px;
    font-weight: 700;
    line-height: 17px;
}
.footer-widget h3 {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 28px;
    text-transform: uppercase;
    margin: 0 0 25px 0;
}
.footer-widget a {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
}
.footer-widget a i {
    color: #919299;
    margin-right: 5px;
    font-size: 16px;
}
.footer-widget ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.footer-widget ul li a,
.footer-widget ul li {
    margin: 0;
    padding: 0px;
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    text-decoration: none;
}
.footer-widget ul li a span,
.footer-widget ul li span {
    color: #919299;
    font-family: "Droid Sans";
    font-size: 10px;
    font-weight: 700;
    line-height: 25px;
    display: block;
    margin-top: -15px;
}
.footer-widget ul li a:hover {
    border-bottom: 1px solid #d81212;
    padding-bottom: 5px;
}
.footer-widget form.newsletter-signup {
    margin: 0px;
}
.footer-widget form.newsletter-signup label {
    width: 50%;
    display: block;
    float: left;
}
.footer-widget form.newsletter-signup input[type="checkbox"] {
    vertical-align: middle;
    margin: 0 5px 0 0;
}
.footer-widget form.newsletter-signup input[type="email"],
.footer-widget form.newsletter-signup input[type="text"] {
    background: transparent;
    border: 0px;
    width: 60%;
    float: left;
    border-bottom: 2px solid #666666;
    color: #919299;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    padding: 5px 0;
    margin-top: 5px;
    margin-bottom: 20px;
}
.footer-widget form.newsletter-signup input[placeholder="Your name"] {
    width: 36%;
    margin-right: 4%;
}
.footer-widget form.newsletter-signup input[type="submit"] {
    color: #ffffff;
    line-height: 20px;
    margin: 0;
    height: auto;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    background: transparent;
}
.footer-widget form.newsletter-signup input[type="submit"]:hover {
    background: #fff;
    color: #000;
}
.footer-copyrights {
    padding: 15px 0;
}
.footer-copyrights a,
.footer-copyrights {
    color: #eeeeee;
    font-family: "Droid Sans";
    font-size: 10px;
    font-weight: 700;
    line-height: 25px;
}
.footer-copyrights ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: right;
}
.footer-copyrights li {
    padding: 0px;
    display: inline-block;
    margin: 0 0 0 50px;
    color: #eeeeee;
    font-family: "Droid Sans";
    font-size: 10px;
    font-weight: 700;
    line-height: 25px;
}

.special {
    background-size: cover;
    padding: 45px 0px 0px;
}
.special h4 {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 28px;
    text-align: center;
}
.item {
    text-align: left;
    margin-top: 40px;
}
.special h3 {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 28px;
    font-weight: 400;
    min-height: 66px;
}
.special p {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}
.owl-dots {
    display: inline-block;
    background: #fff;
    height: 32px;
    padding: 4px 8px;
    margin-top: 40px !important ;
}
.owl-theme .owl-dots .owl-dot span {
    margin: 0px 3px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #d90909;
}
.owl-theme .owl-dots .owl-dot span {
    background-color: #d9d9d9;
}
.image-margin {
    margin-top: 305px !important;
}

.middle-banner.middle-2 .red-box {
    right: 40px;
    left: inherit;
    top: -250px;
}

.mb-150 {
    margin-bottom: 180px !important;
}
.middle-2 .white-btn {
    margin-top: 50px;
}

.sub-banner {
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    height: 498px;
    padding-top: 120px;
    background-position: center;
}
.sub-banner h2 {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 72px;
    line-height: 67px;
}

.inner-nav {
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid #666666;
    overflow: hidden;
    height: 59px;
    line-height: 59px;
    background: #fff;
}
.inner-nav ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: -3px;
}
.inner-nav .heading {
    color: #000000;
    font-family: "Bebas Neue";
    font-size: 24px;
    text-transform: uppercase;
    background: url(assets/images/rectangle.png) no-repeat right scroll;
    position: relative;
    display: inline-block;
    height: 61px;
    margin: 0px;
    line-height: 59px;
    padding-right: 49px;
    margin-right: -2px;
}
#news_action .error {
    color: red;
}
.inner-nav .heading:before {
    content: '';
    background: #d9d9d9;
    height: 100%;
    width: 800%;
    top: 0px;
    left: -800%;
    position: absolute;
}
.inner-nav li {
    display: inline-block;
    height: 59px;
    line-height: 59px;
    text-align: center;
    background: #fff;
    position: relative;
    padding-right: 49px;
    padding-left: 1px;
    margin-left: -4px;
}
.inner-nav li:after {
    content: '';
    background: url(assets/images/line.png) no-repeat 0 0 scroll;
    height: 59px;
    width: 49px;
    position: absolute;
    right: -1px;
    top: 0px;
}
.inner-nav li.active {
    background: #d9d9d9;
}
.inner-nav li.active a:before {
    content: '';
    background: url(assets/images/line-active-after.png) no-repeat 0 0 scroll;
    height: 59px;
    width: 49px;
    position: absolute;
    left: -48px;
    top: 0px;
    z-index: 99;
}
.inner-nav li.active a:after {
    content: '';
    background: url(assets/images/line-active-before.png) no-repeat 0 0 scroll;
    height: 59px;
    width: 49px;
    position: absolute;
    right: -1px;
    top: 0px;
    z-index: 99;
}
.inner-nav li a:hover:before {
    content: '';
    background: url(assets/images/line-active-hover-after.png) no-repeat 0 0 scroll;
    height: 59px;
    width: 49px;
    position: absolute;
    left: -47px;
    top: 0px;
    z-index: 99;
}
.inner-nav li a:hover:after {
    content: '';
    background: url(assets/images/line-active-hover-before.png) no-repeat 0 0 scroll;
    height: 59px;
    width: 48px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 99;
}
.inner-nav .heading:after {
    content: '';
    background: url(assets/images/line-trans.png) no-repeat 0 0 scroll;
    height: 59px;
    width: 49px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.inner-nav li a {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 400;
    display: block;
    line-height: 59px;
    transition: all 0.0s;
    margin: 0px -3px 0px -1px;
    padding: 0px 2px;
}
.inner-nav li a:hover {
    text-decoration: none;
    background: #d90909;
    color: #fff;
}

.content-with-image.inner-pages {
    padding: 0px 0px;
}
.content-with-image.inner-pages.league-sec .right-content {
    min-height: 600px;
}
.content-with-image.inner-pages.league-sec .right-content .content {
    width: 690px;
}
.content-with-image.inner-pages .right-content .content {
    padding-top: 40px;
    padding-bottom: 40px;
}
.inner-pages .left-content .circle {
    right: -85px;
    top: 50%;
    margin-top: -86.5px;
    bottom: 0px;
    vertical-align: middle;
}
.inner-pages .right-content {
    display: flex;
    align-items: center;
    min-height: 530px;
}
.inner-pages .right-content .content {
    padding-left: 165px;
    width: 585px;
}

.button {
    height: 55px;
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 53px;
    position: relative;
    display: inline-block;
    margin: 25px 13px 0px 0px;
    text-align: left;
    padding-left: 30px;
    transition: all 0.3s;
    padding-right: 85px;
    overflow: hidden;
    -webkit-transition: all .7s ease;
}
.button:hover {
    text-decoration: none;
    color: #fff;
}
.button:after {
    font-family: FontAwesome;
    content: "\f061";
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 18px;
    z-index: 9999;
}
.gform_button,
.button.red {
    background-color: #d90909;
    color: #fff;

}
.gform_button:hover {
    background: #a10a0a;
}
.button.grey {
    background-color: #eeeeee;
    color: #000;
}
.button.red:before {
    content: "";
    background: url(assets/images/red-hover.png) no-repeat 0 0 scroll;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 90px;
    height: 55px;
    z-index: 999;
    left: 70%;
    -webkit-transition: all .7s ease;
}
.white-bg.four-column.corporate-events.parties .box h3 {
    min-height: auto;
}
.button.grey:before {
    content: "";
    background: url(assets/images/grey-hover.png) no-repeat 0 0 scroll;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 90px;
    height: 55px;
    z-index: 999;
    left: 70%;
    -webkit-transition: all .7s ease;
}
.button.black:before {
    content: "";
    background: url(assets/images/black-hover.png) no-repeat 0 0 scroll;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 90px;
    height: 55px;
    z-index: 999;
    left: 63%;
    -webkit-transition: all .7s ease;
}
.button.black {
    background-color: #252525;

}
.button.black:hover:before {
    left: -50px;
    width: 132%;
}
.button.red:hover:before {
    left: -50px;
    width: 132%;
}
.button.grey:hover:before {
    left: -50px;
    width: 132%;
}

.black-bg {
    background: #000;
    padding: 100px 0px 80px;
}
.black-bg .col-md-5 {
    max-width: 513px;
    padding-left: 78px;
}
.black-bg h3 {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 28px;
    margin-bottom: 28px;
    font-weight: 400;
}
.black-bg p {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}

.driver-cat {
    padding: 80px 0px 60px;
    text-align: center;
}
.driver-cat h4 {
    color: #000000;
    font-family: "Bebas Neue";
    font-size: 28px;
}
.driver-cat p {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}
.driver-cat .box {
    width: 295px;
    min-height: 302px;
    background-color: #d81212;
    display: inline-block;
    text-align: left;
    padding: 34px 34px 0px 45px;
    margin: 50px 10px 0px;
    position: relative;
    vertical-align: middle;
}
.driver-cat .box figure {
    position: absolute;
    bottom: 0px;
    right: 25px;
}
.box h3 {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
}
.box ul li {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    padding-left: 0px;
    list-style-type: inherit;
    list-style-position: outside;
    margin-left: 15px;
}
.box ul {
    margin: 0px;
    padding: 0px;
}
.logo-sticky {
    display: none;
}
.sticky .logo-default {
    display: none;
}
.sticky .logo-sticky {
    display: block;
}
.full-width-slider {
    text-align: center;
}
.full-width-slider .owl-carousel .item {
    height: 545px !important;
    background-size: cover;
    background-position: center;
}
.full-width-slider .owl-dots {
    display: inline-block;
    background: #fff;
    height: 32px;
    padding: 4px 8px;
    margin-top: 0px !important;
    position: absolute;
    bottom: -1px;
    margin: 0 auto;
    min-width: 80px;
    width: 100px;
    left: 0px;
    right: 0px;
}

.grey-bg {
    background-color: #eeeeee;
    padding: 55px 0px;
}
.grey-bg .box {
    width: 451px;
    background: #fff;
    display: inline-block;
    margin: 0px 20px;
    padding: 30px 15px 35px 30px;
    text-align: left;
    vertical-align: middle;
}
.grey-bg h3 {
    color: #d81212;
    font-family: "Droid Sans";
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
}
.grey-bg p {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 20px;
    min-height: 185px;
}
.rules {
    background: #fff;
    padding: 50px 0px 60px;
}
.rules h4 {
    color: #000000;
    font-family: "Bebas Neue";
    font-size: 28px;
    text-align: center;
}
.rules figure {
    text-align: center;
}
.rules .text {
    max-width: 680px;
    margin: 0 auto;
}
.rules p {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 35px;
}
.parallax {
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    display: flex;
    align-items: center;
    height: 296px;
    text-align: center;
    position: relative;
    background-attachment: fixed;
    background-position: center;
}
.parallax .button {
    margin-top: 0px;
}
.parallax h2 {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 72px;
    line-height: 72px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0px;
}
.parallax p {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 28px;
    font-weight: 400;
}
.parallax.parallax-big {
    height: 442px;
}
.parallax .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.4);
}
.resource {
    padding: 60px 0px;
    background: #ffffff;
}
.resource h4 {
    color: #000000;
    font-family: "Bebas Neue";
    font-size: 28px;
}
.resource .btn-group {
    max-width: 940px;
}
.resource .btn-group .button {
    margin: 5px 5px 0px;
    width: 296px;
}
.circle-group {
    margin-top: 30px;
    padding: 20px 0px;
}

.circle-group .circle {
    position: relative;
    display: inline-block;
    top: 0px;
    margin: 0px -30px 0px 52px;
    vertical-align: middle;
    transition: all 0.3s;
}
.circle-group .circle:hover:after,
.circle-group .circle.active:after {
    content: '';
    background: url(assets/images/circle.png) no-repeat 0 0 scroll !important;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 131px;
    height: 131px;
}
.circle-group .circle a {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    cursor: pointer;
    z-index: 999;
    line-height: 173px;
}
.circle-group .circle h6 {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    position: absolute;
    bottom: -10px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    opacity: 0;
    text-transform: capitalize;
}
.circle-group .circle a:hover h6,
.circle-group .circle.active a h6 {
    opacity: 1;
}
.grey-bg.three-column .box {
    width: 297px;
    margin: 0px 10px;
    min-height: 620px;
    position: relative;
}
.grey-bg.three-column .box a {
    position: absolute;
    left: 30px;
    bottom: 40px;
}
.grey-bg.three-column .box h3 {
    min-height: 62px;
}
.full-width-slider .item {
    margin-top: 0px;
}
.no-margin {
    margin: 0px !important;
}
.four-column {
    padding-bottom: 110px;
}

.four-column .box {
    width: 211px;
    margin: 0px 15px;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
    background: #efefef;
}
.four-column.calendar .box {
    vertical-align: top;
    min-height: 473px;
    overflow: hidden;
    margin-top: 30px;
}
.four-column.calendar .box h3 {
    min-height: 62px;
    margin-bottom: 17px;
}
.four-column .box h3 {
    text-align: center;
    color: #000000;
    font-family: "Droid Sans";
    font-size: 28px;
    font-weight: 400;
}
.four-column .box p {
    text-align: left;
    color: #000000;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.four-column .content-box {
    padding: 25px 15px;
}
.location-heading {
    border-bottom: 2px solid #666666;
    padding-bottom: 12px;
    max-width: 945px;
     margin:100px auto 30px;
     position: relative;
}
.dropdown-menu li {
    padding-left: 0px;
}
.location-heading ul {
    padding: 0px;
}
.location-heading ul li {
    margin: 0px;
}
.location-heading h3 {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 18px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 0px;
}
.location-heading i {
    color: #d81212;
    margin-right: 15px;
    font-size: 22px;
}
.location-heading .pull-right h3 {
    color: #d81212;
    font-family: "Bebas Neue";
    font-size: 28px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
    margin-right: 12px;
}

.grey-bg.three-column.karts-sec .box {
    min-height: 427px;
}
.grey-bg.three-column.group-events .box {
    min-height: 533px;
}
.grey-bg.three-column.group-events .box a {
    position: absolute;
    left: 0px;
    bottom: 40px;
    right: 0px;
    width: 188px;
    margin: 0 auto;
}
.black-bg.three-column .box {
    text-align: left;
}
.black-bg.three-column {
    padding-bottom: 0px;
    text-align: center;
    padding-top: 35px;
}
.black-bg.three-column h4 {
    color: #fff;
    font-family: "Bebas Neue";
    font-size: 28px;
    text-align: center;
}
.black-bg.three-column .box i {
    color: #d90909;
    font-size: 21px;
}
.black-bg.three-column .box h6 {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 28px;
    font-weight: 400;
}
.grey-bg.one-column .box {
    width: 672px;
    margin: 0 auto;
    background: none;
    text-align: center;
    padding: 0px;
}
.grey-bg.one-column p {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    min-height: auto;
}
.grey-bg.one-column h4 {
    color: #000000;
    font-family: "Bebas Neue";
    font-size: 28px;

}
.play-section h4 {
    color: #000000;
    font-family: "Bebas Neue";
    font-size: 28px;
    text-align: center;
}
.play-section p {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.white-bg.four-column.corporate-events .box {
    /*min-height: 375px;*/
}
.play-section .owl-carousel {
    width: 943px;
    margin: 0 auto;
}
.play-section .owl-carousel .item {
    margin-top: 0px;
}
.play-section .owl-dots {
    display: inline-block;
    background: #fff;
    height: 32px;
    padding: 4px 8px;
    margin-top: 0px !important;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    min-width: 80px;
    width: 100px;
    left: 0px;
    right: 0px;
}
.play-section .owl-carousel {
    margin-bottom: 80px;
}
.map-slider figure {
    /*display: inline-block;*/
    /*margin-right: 40px;*/
    display: block;
    margin: 0 auto;
}
.map-slider .content {
    display: inline-block;
    vertical-align: top;
}
.track-map {
    text-align: left;
    max-width: 966px;
    margin: 0 auto;
}
.track-map .map-slider {
    text-align: left;
}
.map-slider h3 {
    color: #d81212;
    font-family: "Droid Sans";
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}
.map-slider p {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}
.track-map {
    padding: 50px 0px;
}
.track-map .bx-wrapper {
    padding: 0px 12px;
}
.track-map .line-break {
    margin-bottom: 30px;
}
.track-map h4 {
    color: #000000;
    font-family: "Bebas Neue";
    font-size: 28px;
    text-align: center;
}
.track-map #bx-pager img {
    display: block;
    margin-bottom: 10px;
}
.track-map #bx-pager a {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    display: inline-block;
    margin: 20px 12px 0px;
}
.nav-tabs {
    padding: 50px 0px 70px;
    border-bottom: 0px;
}
.nav-tabs li {
    display: inline-block;
}
.nav-tabs li a {
    color: #919299;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    padding: 0px 25px;
    border: 2px solid #d9d9d9;
    text-align: center;
    height: 48px;
    line-height: 42px;
    margin: 0px 5px;
}
.nav-tabs li a:hover, .nav-tabs li.active a {
    background: #d90909;
    color: #fff;
    border-color: #d90909;
    text-decoration: none;
}
.parties-content {
    max-width: 822px;
    margin: 0 auto;
}
.parties-content h2 {
    font-family: "Bebas Neue";
    font-size: 72px;
    line-height: 67px;
    color: #000000;
    margin-bottom: 30px;
}
.parties-content h2 span {
    color: #cc0010;
}
.parties-content p {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.parties h4 {
    color: #000000;
    font-family: "Bebas Neue";
    font-size: 28px;

}
.parties.four-column {
    padding-bottom: 65px;
}
.parties.four-column .box {
    margin-top: 30px;
    vertical-align: top;
}
.white-bg.four-column.corporate-events.parties .box {
    /*min-height: 334px;*/
}
.parties.four-column .content-box {
    padding: 20px;
}
.parties.four-column .content-box h2 {
    color: #d81212;
    font-family: "Bebas Neue";
    font-size: 72px;
}
.parties.four-column .content-box a {
    margin-top: 20px;
    min-height: 61px;
}
.parties.four-column .content-box h3 {
    margin-bottom: 20px;
    min-height: 65px;
}
.parties.four-column .content-box .text-center {
    text-align: center !important;
}
.four-column .content-box ul {
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
}
.four-column .content-box ul li {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    list-style-position: outside;
    margin-left: 15px;
}
.reserve {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 15px;
}
.pricing {
    background: #efefef;
    padding: 50px 0px;
}
.driver-cat.pricing .box {
    margin-top: 0px;
}

.white-bg.four-column.corporate-events.parties.small-box {
    padding-top: 60px;
    padding-bottom: 0px;
}
.white-bg.four-column.corporate-events.parties.small-box .box {
    /*min-height: 297px;*/
}
.white-bg.four-column.corporate-events.parties.small-box p {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.white-bg.four-column.corporate-events.parties p {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.white-bg.four-column.corporate-events.parties .row {
    max-width: 980px;
    margin: 0 auto;
}
.parties.four-column .content-box a.black-btn {
    min-height: auto;
}
.parties.four-column small {
    line-height: 16px;
    margin-top: 15px;
}
.map-area {
    width: 50%;
    height: 282px;
    float: left;
}
.map-content {
    float: left;
    width: 50%;
    min-height: 282px;
    display: flex;
    background: #000;
    align-items: center;
    text-align: center;
}
.map-content h4 {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 28px;
}
.map-content div {
    width: 100%;
}
.map-content .map-btn {
    border: 2px solid #666666;
    padding: 0px !important;
    margin-top: 18px;
    display: inline-block;
    height: 47px;
    line-height: 43px;
    vertical-align: middle;
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    margin: 0px 8px;
    padding: 0px 15px !important;
}
.map-content .map-btn:hover {
    text-decoration: none;
}
.map-content .map-btn i {
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
.map-content h4 {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 28px;
}
#tripleseat_embed_form,
.gform_wrapper,
.contact {
    padding: 70px 0px;
    text-align: center;
    max-width: 1010px;
}
#tripleseat_embed_form label,
.gform_wrapper label,
.contact label {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}
.ginput_container_select,
.contact .select {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.ginput_container_select:after,
.contact .select:after {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 30px;
    content: "\f107";
    color: #bfbfbf;
    font-family: FontAwesome;
}
.contact .select select {
    width: 110%;
    position: relative;
    z-index: 99;
    background: none;
}
textarea {
    resize: none;
}
.input-box {
    width: 455px;
    display: inline-block;
    margin: 0px 15px;
    vertical-align: middle;
}
.input-box.full-box {
    max-width: 947px;
    width: 100%;
}
#tripleseat_embed_form input, #tripleseat_embed_form textarea, #tripleseat_embed_form select,
.gform_wrapper input, .gform_wrapper textarea, .gform_wrapper select,
.contact input, .contact textarea, .contact select {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    font-family: "Droid Sans";
    font-weight: 700;
    border: 0px;
    border-bottom: 2px solid #666666;
    margin-bottom: 40px;
    width: 100%;
    text-align: left;
    padding-bottom: 15px;
}
#tripleseat_embed_form textarea,
.gform_wrapper textarea,
.contact textarea {
    margin-bottom: 0px;
}
#tripleseat_embed_form .button,
.gform_wrapper .button,
.contact .button {
    margin-right: 0px;
}
#tripleseat_embed_form .checkbox,
.gform_wrapper .checkbox,
.contact .checkbox {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    padding-left: 18px;
    margin-top: 40px;
}
#tripleseat_embed_form input[type=checkbox],
.gform_wrapper input[type=checkbox],
.contact input[type=checkbox] {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    background-color: #d8d8d8;
}
#tripleseat_embed_form input[type=submit],
.gform_wrapper input[type=submit],
.contact input[type=submit] {
    width: auto;
}
.shop-section,
.blog-section {
    margin-top: 50px;
}
.blog-section figure {
    width: 100%;
    height: 326px;
}
.shop-section .container,
.blog-section .container {
    max-width: 950px;
}
.blog-section .single-post-blog p,
.blog-section .single-post-blog {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}
.shop-section .col-sm-4,
.blog-section .one-blog-section {
    margin-bottom: 50px;
}
.shop-section h2.woocommerce-loop-product__title a,
.shop-section h2.woocommerce-loop-product__title,
.blog-section .single-post-blog h1 a,
.blog-section .single-post-blog h1 {
    color: #000000;
    font-family: "Droid Sans";
    font-size: 28px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 25px;
}
.shop-section span.price a,
.shop-section span.price,
.blog-section .single-post-blog h2 a,
.blog-section .single-post-blog h2 {
    color: #d81212;
    font-family: "Bebas Neue";
    font-size: 28px;
    margin-top: 0px;
    font-weight: normal;
    margin-bottom: 0px;
}
.shop-section span.price a,
.shop-section span.price {
    display: block;
    text-align: center;
}
.woocommerce ul.products li.product .price ins {
    text-decoration: none !important;
}
.shop-section h2.woocommerce-loop-product__title a:hover,
.shop-section h2 a:hover,
.blog-section .single-post-blog h1 a:hover,
.blog-section .single-post-blog h2 a:hover {
    text-decoration: none;
}
.shop-section h2.woocommerce-loop-product__title a,
.shop-section h2.woocommerce-loop-product__title {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 5px;
    line-height: 30px;
}
.woocommerce ul.products li.product .button {
    height: auto;
}
.woocommerce ul.products li.product a.added_to_cart.wc-forward {
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    left: 0;
    right: 0;
}
.woocommerce .products ul li, .woocommerce ul.products li {
    text-align: center;
}
.woocommerce .add_to_cart_button.button:after {
    display: none;
    height: auto;
}
.blog-section .location-heading {
    display: inline-block;
    max-width: 427px;
    margin: 0px 15px 50px;
    width: 100%;

}
.shop-section .location-heading {
    display: inline-block;
    max-width: 277px;
    margin: 0px 13px 50px;
    width: 100%;

}
.shop-section h2 {
    font-family: "Bebas Neue";
    font-size: 72px;
    line-height: 67px;
    color: #000000;
    margin-bottom: 30px;
}
.shop-section h2 span {
    color: #cc0010;
}
.sub-banner p {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 18px;
    font-weight: 700;
}
.shop-section .woocommerce-products-header,
.shop-section .woocommerce-result-count,
.shop-section .woocommerce-ordering,
.shop-section .woocommerce-breadcrumb {
    display: none;
}
.shop-section .woocommerce-pagination ul.page-numbers {
    text-align: center;
    margin-bottom: 60px;
}
.woocommerce .cart .button, .woocommerce .cart input.button {
    height: auto;
}
.woocommerce input#coupon_code {
    padding: 8px 10px;
    width: 130px;
}
.woocommerce .quantity .qty {
    border: 1px solid #ccc;
    padding: 2px;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 8px;
    font-size: 14px;
}
.woocommerce .select2-container--default .select2-selection--single {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 14px;
    height: auto;
}
.woocommerce .button:after,
.cart-collaterals .button:after,
.shop-section .woocommerce-pagination ul.page-numbers span,
.shop-section .woocommerce-pagination ul.page-numbers a {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 15px;
    font-size: 28px;
    font-weight: 400;
    color: #000;
    font-family: "Droid Sans";
}
.shop-section .woocommerce-pagination ul.page-numbers a:hover,
.shop-section .woocommerce-pagination ul.page-numbers .current,
.shop-section .woocommerce-pagination ul.page-numbers a.active{
    color: #cc0010;
    text-decoration: none;
}
.shop-section .woocommerce-pagination ul.page-numbers .black-btn {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 135px;
    text-align: center;
}

.shop-section .woocommerce-pagination ul.page-numbers .black-btn:hover {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}
.mobil {
    display: none;
}
.calendar-section {
    max-width: 945px;
    margin: 30px auto 50px;
}
.events {
    width: 261px;
    height: 470px;
    background-color: #d81212;
    float: right;
    text-align: center;
}
.eo-event-meta {
    margin: 0px !important;
    padding: 0px !important;
}
.eo-event-meta li {
    padding: 0px !important;
}
.events h2 {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 72px;
    margin-top: 15px;
}
.events h3 {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 28px;
    text-transform: uppercase;

}
.events h4 {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
}
.events p {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.events span {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}
.calendar-section .calendar {
    width: 684px;
    height: 100px;
    float: left;
    padding: 0px 20px 10px 20px;
}
.calendar-section .calendar .fc-icon-right-single-arrow:after,
.calendar-section .calendar .fc-icon-left-single-arrow:after {
    color: #666;
    box-shadow: none;
    text-shadow: none;
}
.calendar-section .calendar .fc .fc-button-group>:first-child {
    background: #000;
    box-shadow: none;
}
.calendar-section .calendar .fc-toolbar .fc-center h2 {
    font-family: "Bebas Neue";
    font-size: 22px;
    color: #fff;
}
.calendar-section .calendar .eo-fullcalendar .fc-toolbar {
    margin-bottom: 0;
    height: 50px;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 0px solid #666;
}
.calendar-section .calendar .eo-fullcalendar th,
.calendar-section .calendar .eo-fullcalendar tr,
.calendar-section .calendar .eo-fullcalendar td {
    border-color: #acacac !important;
    background-color: #000 !important;
}
.calendar-section .calendar .eo-fullcalendar th.fc-day-header.fc-widget-header {
    color: #acacac;
    font-family: "Droid Sans";
    font-size: 14px;
    text-transform: uppercase;
}
.calendar-section .calendar .eo-fullcalendar .fc-view-container {
    margin-top: 0px;
}
.calendar-section .calendar .eo-fullcalendar .fc-row.fc-widget-header th {
    padding: 15px 0 20px 0;
}
.calendar-section .calendar .eo-fullcalendar .fc-event-container .fc-day-grid-event.fc-event {
    color: #ffffff !important;
    background: #d81212 !important;
    border: 0px !important;
    font-size: 10px !important;
}
.calendar-section .calendar .eo-fullcalendar .fc-today.fc-state-highlight {
    /*background: #d81212 !important;*/
}
.calendar-section .calendar .eo-fullcalendar .fc-day-number {
    /*text-align: center;*/
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
}
.calendar-section .calendar .eo-fullcalendar .fc-day-number.fc-other-month {
    color: #666;
    visibility: hidden; !important;
}
/* Menu mobile */
.menu-right {
    height: auto !important;
    position: fixed;
    top: 64px;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    padding: 0 20px;
    width: 100%;
    display: none;
}
.menu-right .search-section {
    left: 0px;
    bottom: -68px;
}
.menu-right .location-heading h3 {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px
}
.menu-right .location-heading .pull-left,
.menu-right .location-heading .pull-right {
    float: none !important;
}
.menu-right .location-heading .pull-right h3 {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 22px;
    font-weight: normal;
    padding-left: 22px;
    margin-bottom: 3px;
}
.menu-right .location-heading {
    padding-bottom: 0px;
    width: 100%;
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
.menu-right .location-heading .dropdown-toggle {
    float: right;
}
.menu-right ul {
    margin: 0px 30px;
    padding: 0px 10px;
}
.menu-right ul li {
    padding: 0px 0;
    margin: 0px;
}
.menu-right .dropdown-menu li a {
    color: #000;
    color: #000;
    font-size: 14px;
    padding: 15px 0px 0px;
    line-height: 10px;
}
.menu-right .dropdown-menu {
    padding-bottom: 15px;
}
.menu-right .dropdown-menu li a:hover {
    background: none;
}
.menu-right ul li a {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 22px;
    line-height: 41px;
}
.menu-right ul li:first-child {
    border: 0px;
}
.menu-right ul .menu-item-has-children a:after {
    content: "\f107";
    font-family: FontAwesome;
    color: #989898;
    margin-left: 7px;
}
.menu-right ul .menu-item-has-children:hover a:after{
    content: "\f106";
}
.menu-right .close-right {
    border: 2px solid #666666;
    padding: 4px 11px;
    position: absolute;
    right: 17px;
    top: -55px;
    background: rgba(0, 0, 0, 1.5);
    opacity: 0.78;
}
.menu-right .close-right i {
    height: 29px;
    display: inline-block;
    cursor: pointer;
    font-size: 27px;
    color: #fff;
}
.menu-right ul .sub-menu {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px 15px;
    background: none;
}
.menu-right ul .sub-menu li a {
    font-size: 14px;
}
.menu-right ul li:hover .sub-menu {
    display: block;
}
.rules.littleBigWrapper .text {
    max-width: 1024px;
}
.teamMembers .col-md-6 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.dark-content p,
.dark-content h1,
.dark-content h2,
.dark-content h3,
.dark-content h4,
.dark-content ul,
.dark-content li,
.dark-content {
    color: #fff;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}
.dark-content li {
    list-style: inherit;
    padding: 0;
}
.dark-content h4 {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 28px;
    position: relative;
    font-weight: normal;
}
.dark-content h4 span {
    color: #d81212;
    font-family: "Bebas Neue";
    font-size: 72px;
    position: absolute;
    right: 0px;
    margin-top: 15px;
}
.dark-content ul {
    padding: 0 0 0 20px;
}
.playAndEatSec {
    max-width: 945px;
    margin: 0 auto;
}
.woocommerce ul.products li.product .star-rating {
    display: none !important;
}
@media (min-width: 1024px) and (max-width: 1200px) {
    .nav > li > a {
        padding: 31px 16px;
    }
    .nav-tabs li a {
        padding: 10px 16px !important;
        line-height: 22px;
    }
    .navbar-collapse {
        padding: 0px;
    }
    .container-fluid {
        padding-right: 0px;
    }
    header:not(.woocommerce-products-header).sticky {
        display: none;
    }
    .red-box h3 {
        font-size: 60px;
    }
    .red-box h2 {
        font-size: 60px;
    }
    .red-box {
        width: 45%;
        padding: 50px 58px 50px 50px;
        left: 50px;
    }
    .right-content .content {
        width: 100%;
        padding-left: 40px;
    }
    .content h2 {
        font-size: 70px;
    }
    .content h3 {
        font-size: 60px;
    }
    .left-content .content {
        padding-left: 40px;
        width: 100%;
        padding-right: 40px;
    }
    .inner-pages .right-content .content {
        padding-left: 110px;
    }
    .grey-bg .box {
        width: 45%;
        vertical-align: top;
    }
    .full-width-slider .owl-carousel .item {
        height: 400px !important;
    }
    .four-column .box {
        margin: 0 14px;
    }
    .grey-bg .box .black-btn {
        margin-bottom: 10px;
    }
    .circle-group .circle {
        margin-left: 41px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .grey-bg .box {
        margin-bottom: 30px;
    }
    .black-bg .col-md-5 {
        float: left;
        max-width: 50%;
        padding-left: 10px;
    }
    .black-bg {
        padding: 50px 0px;
    }
    .nav-tabs {
        padding: 40px 0px 20px;
    }
    .parties-content h2 {
        font-size: 60px;
    }
    .nav-tabs .nav li a {
        line-height: 22px;
        padding: 11px 10px;
        font-size: 14px;
    }
    .driver-cat.pricing .box {
        margin-top: 20px;
    }
    .box + p + p {
        max-width: 60%;
        margin: 0 auto 30px;
    }
    .location-heading {
        max-width: 90%;
    }
    .parties.four-column {
        padding-bottom: 30px;
    }
    .parties.four-column .box {
        margin-top: 0px;
    }
    .full-width-slider .owl-carousel .item {
        height: 350px !important;
    }
    .location-heading {
        margin: 30px auto 30px;
        max-width: 90%;
    }
    .grey-bg .box {
        width: 44%;
        vertical-align: top;
        min-height: 480px;
    }
    .grey-bg.three-column .box a {
        position: relative;
    }
    .shop-section .location-heading {
        max-width: 29%;
    }
    .input-box {
        width: 43%;
    }
    .input-box.full-box {
        max-width: 90%;
    }
    .grey-bg.corporate-events.one-column .box {
        min-height: auto;
    }
    .play-section .owl-carousel {
        width: 100%;
    }
    .grey-bg.three-column .box {
        margin-bottom: 30px;
        min-height: auto;
    }
    .grey-bg p {
        min-height: auto;
    }
    .grey-bg .box .black-btn {
        margin-bottom: 10px;
    }
    .inner-nav {
        display: none;
    }
    .resource .btn-group .button {
        width: 262px;
    }
    .driver-cat .box {
        margin-top: 20px;
    }
    .nav > li > a {
        padding: 31px 10px;
    }
    .circle-group {
        display: none;
    }
    .arrive-btn {
        display: none !important;
    }
    .navbar-collapse {
        padding: 0px;
    }
    .container-fluid {
        padding-right: 0px;
    }
    header:not(.woocommerce-products-header).sticky {
        display: none;
    }
    .left-content {
        width: 100%;
    }
    .right-content {
        width: 100%;
    }
    .right-content .content {
        width: 100%;
        padding: 35px 25px;
    }
    .content h3 {
        font-size: 40px;
        line-height: 50px;
    }
    .content h2 {
        font-size: 50px;
        line-height: 55px;
    }
    .content-with-image .content p {
        display: none;
    }
    .content-with-image .content .black-btn,
    .content-with-image .content .white-btn,
    .content-with-image .content .red-btn {
        display: block;
        width: 188px;
        margin: 15px auto 0;
    }
    .content-with-image {
        padding-bottom: 0px;
    }
    .left-content .content {
        padding: 0px 25px;
        width: 100%;
        margin-top: -90px;
        margin-bottom: 0px;
    }
    .content-with-image.home-content .full-image {
        min-height: 300px;
    }
    /*.banner ul li {
        height: 70vh;
    }*/
    .full-image {
        min-height: 216px;
    }
    .loop.owl-carousel figure {
        /*display: none;*/
    }
    .inner-pages .right-content {
        min-height: 200px;
    }
    .content-with-image.inner-pages.league-sec .right-content {
        min-height: 200px;
    }
    .loop.owl-carousel .owl-item {
        padding: 0px 40px 0px 20px;
    }
    .four-column .box {
        margin-bottom: 30px;
    }
    .home-content .circle {
        margin-bottom: -81px;
    }
    .inner-pages .left-content .circle, .circle {
        left: 0px;
        right: 0px;
        margin: 0 auto;
        position: relative;
        margin-top: 40px;
        margin-bottom: -81px;
        opacity: 0.8;
    }
    .image-margin {
        margin-top: 140px !important;
    }
}
@media (min-width: 0px) and (max-width: 767px) {
    .search-btn, .top-header {
        display: none;
    }
    .search-btn.search-mob {
        display: block;
    }
    .blog-section .location-heading {
        max-width: 90%;
    }
    .navbar-toggle {
        border: 2px solid #666666;
        position: absolute;
        padding: 9px 10px;
        margin-top: -4px;
        background-color: transparent;
        background-image: none;
        border-radius: 0px;
        width: 49px;
        height: 42px;
        top: 12px;
        right: 0px;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .logo {
        float: none !important;
        margin: 0 auto;
        text-align: center;
    }
    .mobil {
        display: block;
    }
    .tel.mobil a {
        width: 49px;
        height: 42px;
        border: 2px solid #666666;
        opacity: 0.78;
        position: absolute;
        top: 8px;
        left: -12px;
        text-align: center;
        line-height: 42px;
        display: inline-block;
    }
    .tel.mobil a i {
        font-size: 24px;
        color: #fff;
    }
    header:not(.woocommerce-products-header) {
        top: 0px;
    }
    .navbar-header {
        padding-top: 8px;
        padding-bottom: 3px;
    }
    .banner ul li {
        height: 564px;
    }
    .sub-banner {
        height: 300px;
        padding-top: 30px;
    }
    .sub-banner h2 {
        font-size: 50px;
        line-height: 50px;
    }
    .banner h1 {
        font-size: 50px;
        line-height: 50px;
        padding: 10px 56px;
    }
    .inner-nav {
        display: none;
    }
    .inner-pages .right-content .content {
        width: 100%;
        padding-left: 25px;
    }
    .inner-pages .right-content .content {
        min-height: 200px;
    }
    .inner-pages .left-content {
        margin-bottom: 30px;
    }
    .inner-pages .left-content .circle {
/*        position: relative;
        margin-top: 30px;
        margin-bottom: -62px;*/
        position: absolute;
        top: 140px;
        margin: 0 auto;
        right: 0;
        left: 0;
    }
    .review.owl-carousel .owl-item {
        padding: 0px 20px;
    }
    .circle.black:after {
        width: 101px;
        height: 109px;
        background-size: 100%;
    }
    .circle-group {
        display: none;
    }
    .white-bg.four-column.corporate-events .box {
        margin-bottom: 30px;
    }
    .four-column {
        padding-bottom: 10px;
    }
    .location-heading {
        margin: 40px auto 30px;
        margin-left: 15px;
        width: 90%;
    }
    .full-width-slider .owl-carousel .item {
        height: 160px !important;
    }
    .button {
        min-width: 220px;
    }
    .black-bg .col-md-5 {
        padding-left: 25px;
        padding-right: 10px;
        margin-bottom: 50px;
    }
    .black-bg {
        padding-bottom: 10px;
        padding-top: 25px;
    }
    .black-bg p {
        margin-bottom: 0px;
    }
    .driver-cat {
        padding-top: 40px;
        padding-bottom: 15px;
    }
    .grey-bg .box {
        margin: 0px;
        width: 90%;
        margin-bottom: 30px;
    }
    .resource {
        padding: 30px 0px 35px;
    }
    .parallax {
        height: auto;
        min-height: 130px;
    }
    .black-btn {
        /*margin-bottom: 10px;*/
    }
    .rules {
        padding: 40px 25px 20px;
    }
    .rules p {
        margin-top: 0px;
    }
    .grey-bg.one-column .box {
        width: 100%;
        padding: 0px 20px;
    }
    .our-partner ul li {
        margin-right: 9px !important;
        margin: 0px !important;
        padding: 0px !important;
    }
    .middle-banner {
        /*min-height: 342px;*/
        background-position: 70%;
    }
    .red-box {
        width: 90%;
        height: auto;
        /*padding: 28px;*/
        left: 0;
        /*top: 250px;*/
        /*max-width: 269px;*/
        right: 0;
        margin: 0 auto;
        padding: 60px;
        position: relative;
    }
    .red-box h2 {
        font-size: 60px;
        margin: 0px;
    }
    .red-box h3 {
        font-size: 40px;
        line-height: 40px;
        margin: 0px;
    }
    .red-box p {
        /*display: none;*/
    }
    .red-box .black-btn,
    .red-box .white-btn {
        /*display: block;
        margin: 10px auto 0px;
        width: 164px;
        padding: 0px;*/
    }
    .circle {
        left: 0px;
        right: 0px;
        margin: 0 auto;
        width: 135px;
        height: 135px;
        line-height: 135px;
    }
    .circle:after {
        top: 19px;
        right: 16px;
        width: 101px;
        height: 109px;
        background-size: 100%;
        transition: all 0.3s;
    }
    .left-content {
        width: 100%;
    }
    .right-content {
        width: 100%;
    }
    .right-content .content {
        width: 100%;
        /*padding: 35px 25px;*/
        padding: 60px;
    }
    .content h3 {
        font-size: 40px;
        line-height: 50px;
    }
    .content h2 {
        font-size: 50px;
        line-height: 55px;
    }
    .content-with-image .content p {
        /*display: none;*/
    }
    .content-with-image .content .black-btn,
    .content-with-image .content .white-btn,
    .content-with-image .content .red-btn {
        display: block;
        width: 188px;
        margin: 15px auto 0;
    }
    .content-with-image {
        padding-bottom: 0px;
    }
    .left-content .content {
        /*padding: 0px 25px;*/
        width: 100%;
        margin-top: -90px;
        margin-bottom: 130px;
        padding: 60px;
    }
    .content-with-image.home-content .full-image {
        min-height: 216px;
    }
    .full-image {
        min-height: 216px;
    }
    .loop.owl-carousel figure {
        /*display: none;*/
    }
    .inner-pages .right-content {
        min-height: 200px;
    }
    .content-with-image.inner-pages.league-sec .right-content {
        min-height: 200px;
    }
    .loop.owl-carousel .owl-item {
        padding: 0px 40px 0px 20px;
    }
    .four-column .box {
        margin-bottom: 30px;
    }
    .grey-bg.three-column.karts-sec .box {
        min-height: auto;
        padding-bottom: 20px;
    }
    .grey-bg.three-column .box {
        min-height: auto;
        padding-bottom: 90px;
        margin-bottom: 30px;
    }
    .grey-bg.three-column .box h3 {
        min-height: auto;
        margin-bottom: 20px;
    }
    .grey-bg p {
        min-height: auto;
    }
    .middle-banner.middle-2 {
        min-height: 336px;
        background-position: 8%;
        margin-top: -35px;
    }
    .sticky .logo-sticky {
        margin: 0 auto;
    }
    .grey-bg {
        padding-bottom: 20px;
    }
    .parallax h2 {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 0px;
        padding-top: 15px;
    }
    .track-map {
        padding: 30px 0px;
    }
    #bx-pager {
        display: none;
    }
    .parties-content h2 {
        font-size: 45px;
        line-height: 45px;
    }
    .nav-tabs {
        padding: 30px 0px 0px;
    }
    .white-bg.four-column.corporate-events.parties.small-box {
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .driver-cat .box {
        margin-bottom: 25px;
        margin-top: 0px;
    }
    .red-btn,
    .black-btn,
    .white-btn {
        padding: 0px 20px;
        font-size: 13px;
    }
    .textwidget img {
        max-width: 100%;
    }
    .parallax.parallax-big {
        height: 300px;
    }
    .location-heading h3 {
        font-size: 12px;
        margin-top: -4px;
    }
    .location-heading .pull-right h3 {
        font-size: 22px;
    }
    .parties.four-column .box {
        margin-top: 0px;
    }
    .parties.four-column {
        padding-bottom: 25px;
    }
    .nav-tabs li a {
        padding: 0px 8px;
        font-size: 14px;
        height: 35px;
        line-height: 31px;
    }
    .parallax p {
        margin-bottom: 0px;
        font-size: 20px;
    }
    .grey-bg.three-column.group-events .box {
        margin-bottom: 30px;
    }
    .parallax .button {
        margin: 10px 0px;
    }
    .middle-banner.middle-2 .red-box {
        right: 0px;
        left: 0px;
        padding: 60px;
    }
    .col-sm-4.footer-social {
        text-align: center;
        border-top: 2px solid #666666;
        padding-top: 25px;
        margin-top: 25px;
    }
    .footer-top {
        border-bottom: 0px;
    }
    .main-footer {
        padding: 0px 25px;
    }
    .footer-widget form.newsletter-signup input[type="text"],
    .footer-widget form.newsletter-signup input[placeholder="Your name"]  {
        width: 100%;
    }
    #text-2 {
        background-blend-mode: 40px;
    }
    #nav_menu-2,
    #nav_menu-3 {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
    #nav_menu-4 {
        display: none;
    }
    .footer-widget .row .col-sm-5 {
        /*display: none;*/
        margin-top: -50px;
    }
    .footer-widget form.newsletter-signup input[type="email"], .footer-widget form.newsletter-signup input[type="text"] {
        width: 100%;
    }
    .footer-widget form.newsletter-signup input[type="submit"] {
        min-width: 197px;
    }
    .container.footer-copyrights {
        text-align: center;
    }
    .footer-copyrights ul {
        text-align: center;
    }
    .footer-copyrights li {
        margin: 0px 10px;
    }
    .parties.four-column .content-box h3 {
        min-height: auto;
    }
    .play-section .owl-carousel {
        width: 100%;
    }
    .shop-section .woocommerce-pagination ul.page-numbers {
        display: none;
    }
    .shop-section h2 {
        font-size: 50px;
        line-height: 50px;
    }
    .shop-section, .blog-section {
        margin-top: 20px;
    }
    .shop-section .location-heading {
        max-width: 90%;
        margin: 0px 15px 25px 15px;
    }
    .shop-section .location-heading h3 {
        margin-top: 9px;
    }
    .calendar {
        min-height: 312px;
    }
    .events {
        height: auto;
        width: 100%;
    }
    .events h2 {
        color: #ffffff;
        font-family: "Bebas Neue";
        font-size: 28px;
        text-transform: uppercase;
        display: inline-block;
    }
    .events h3 {
        display: inline-block;
    }
    .events h4 {
        margin-top: 10px;
    }
    .four-column.calendar .box {
        margin-top: 0px;
    }
    .map-area {
        width: 100%;
    }
    .map-content {
        width: 100%;
    }
    .location-heading i {
        margin-right: 5px;
    }
    .map-content .map-btn {
        font-size: 12px;
        margin: 7px 8px;
    }
    #tripleseat_embed_form,
    .gform_wrapper,
    .contact {
        padding: 35px 0px;
    }
    .input-box {
        width: 90%;
    }
    .input-box.full-box {
        width: 90%;
    }
    #tripleseat_embed_form label,
    .gform_wrapper label,
    .contact label {
        font-size: 14px;
    }
    #tripleseat_embed_form input, #tripleseat_embed_form textarea, #tripleseat_embed_form select,
    .gform_wrapper input, .gform_wrapper textarea, .gform_wrapper select,
    .contact input, .contact textarea, .contact select {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .gform_wrapper .checkbox,
    .contact .checkbox {
        font-size: 14px;
    }
    .input-box.text-right {
        text-align: center !important;
    }
    header:not(.woocommerce-products-header).sticky {
        display: none;
    }
    .blog-section .location-heading {
        margin: 0px 15px 25px;
        width: 90%;
    }
    .blog-section .one-blog-section {
        margin-bottom: 0px;
    }
    .menu-right {
        display: block;
    }
    .footer-widget h3 {
        margin-top: 30px;
        margin-bottom: 15px;
    }
}
@media (min-width: 0px) and (max-width: 565px) {
    .driver-cat .box {
        width: 93%;
    }
    .box h3 {
        font-size: 30px;
    }
    .blog-section figure {
        height: 180px;
    }
     .grey-bg.three-column.group-events .box {
        margin-bottom: 30px;
        width: 90%;
        min-height: auto;
    }
    .banner h1 {
        padding: 7px 13px;
    }
    .resource .btn-group .button {
        width: 92%;
    }
    .grey-bg.three-column .box {
        width: 90%;
    }
    .banner ul li {
        padding-left: 0px;
    }
    .banner ul li .container {
        padding: 0px;
    }
    .red-box {
        width: 100%;
        padding: 20px;
    }
    .right-content .content,
    .left-content .content,
    .middle-banner.middle-2 .red-box {
        padding: 20px;
    }
}
@media (min-width: 0px) and (max-width: 529px) {
    #tripleseat_embed_form #lead_submit {
        float: none !important;
    }
    .parties.four-column .box {
        width: 95%;
    }
}
@media (min-width: 0px) and (max-width: 380px) {
    .parties.four-column .box {
        width: 90%;
    }
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.grey-bg p:last-child {
    min-height: 0px;
}

a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}


.panel-group .panel {
  border-radius: 0;
  margin-bottom: 20px;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
  background-color:#d90909;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
}
.panel-collapse {
    background: #eeeeee;
}

.panel-title a {
  display: block;
  color: #fff;
  padding: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.panel-body {
  background: #eeeeee;
}


.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.panel-heading a:before {
  content: '\f106';
  position: absolute;
  font-family: 'FontAwesome';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}

.panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}

#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'FontAwesome';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: "\f107";
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
  content: "\f106";
  font-size: 24px;
  position: absolute;
  font-family: 'FontAwesome';
  right: 15px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}
body .gform_wrapper div.validation_error {
    margin-left: 15px;
    margin-right: 15px;
}
#tripleseat_embed_form input[type="submit"],
body .gform_button {
    background: #d90909 !important;
    color: #fff !important;
    text-align: center;
    padding: 0 40px !important;
    margin: 0px 0 0 0 !important;
    text-transform: uppercase;
}
#tripleseat_embed_form input[type="submit"],
body .gform_button:hover {
    background: #a10a0a !important;
}
body .gform_wrapper .gfield_radio input[type="radio"],
body .gform_wrapper .gfield_checkbox input[type="checkbox"] {
    margin: 0 3px 0 0 !important;
}
body .gform_wrapper .gfield ul.gfield_radio,
body .gform_wrapper .gfield ul.gfield_checkbox {
    margin: 0 0 58px 0 !important;
}
body .gform_wrapper .gfield ul.gfield_checkbox {
    margin: 0 0 59px 0 !important;
}
body .gform_wrapper .gfield ul.gfield_radio li,
body .gform_wrapper .gfield ul.gfield_checkbox li {
    margin: 0px !important;
    display: inline;
}
body .gform_wrapper .gfield ul.gfield_radio li input[type="radio"],
body .gform_wrapper .gfield ul.gfield_checkbox li input[type="checkbox"] {
    margin-left: 7px !important;
}
body .gform_wrapper .gfield ul.gfield_radio li:first-child input[type="radio"],
body .gform_wrapper .gfield ul.gfield_checkbox li:first-child input[type="checkbox"] {
    margin-left: 0px !important;
}
body .gform_wrapper .gfield select,
body .gform_wrapper .gfield textarea,
body .gform_wrapper .gfield input[type="text"],
body .gform_wrapper .gfield input[type="email"],
body .gform_wrapper .gfield input[type="tel"] {
    width: 100% !important;
    max-width: 100% !important;
}
body .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
body .gform_wrapper .top_label div.ginput_container {
    margin-top: 0px !important;
}
body .gform_wrapper .gfield input,
body .gform_wrapper .gfield textarea,
body .gform_wrapper .gfield select {
    font-size: 18px !important;
    font-weight: 700 !important;
    font-family: "Droid Sans" !important;
    width: 100% !important;
    text-align: left !important;
    padding: 0 0 15px 0 !important;
}
body .gform_wrapper .gfield input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
body .gform_wrapper .gfield textarea,
body .gform_wrapper .gfield select {
    margin: 0 0 40px 0 !important;
}
body .gform_wrapper .gfield textarea {
    height: 69px !important;
}
body .gform_wrapper ul.gform_fields .gfield input[type="file"] {
    font-size: 16px;
}
body .gform_wrapper ul.gform_fields li.gfield {
    margin: 0 !important;
    padding: 0 15px !important;
    width: 50%;
    float: left;
    clear: none;
}
body .gform_wrapper ul.gform_fields:after {
   content: "";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
body .gform_wrapper .gform_footer.top_label {
    padding: 0 15px !important;
    margin: 0 !important;
    display: inline-block !important;
    clear: none !important;
    width: auto !important;
}
body .gform_wrapper .gform_footer.top_label img {
    display: none !important;
}
body .gform_wrapper.gform_validation_error li input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
body .gform_wrapper.gform_validation_error li select,
body .gform_wrapper.gform_validation_error li textarea {
    border: 0px !important;
    border-bottom: 2px solid #00ce19 !important;
}
body .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
body .gform_wrapper li.gfield_error textarea {
    border: 0px !important;
    border-bottom: 2px solid #d90909 !important;
}
body .gform_wrapper {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#field_1_7 {
    width: 100% !important;
}
#field_1_8 .gfield_label {
    display: none !important;
}
body #gform_1 .gform_footer.top_label {
    float: right;
    margin-top: -45px !important;
}
#field_2_6,
#field_2_21,
#field_9_5,
#field_8_5,
#field_5_5,
#field_4_4,
#field_3_10,
#field_3_12,
#field_3_11 {
    width: 100%;
}
#field_3_12 {
    margin-top: -30px !important;
    font-size: 15px;
}
body #gform_2 .gform_footer.top_label,
body #gform_9 .gform_footer.top_label,
body #gform_8 .gform_footer.top_label,
body #gform_5 .gform_footer.top_label,
body #gform_4 .gform_footer.top_label,
body #gform_3 .gform_footer.top_label {
    width: 100% !important;
    text-align: center;
}
#tripleseat_embed_form {
    padding: 0px !important;
}
#tripleseat_embed_form table {
    width: 100%;
}
#tripleseat_embed_form h2 {
    font-family: "Bebas Neue";
    font-size: 38px;
    text-align: center;
}
#tripleseat_embed_form #lead_phone_number_extension,
#tripleseat_embed_form #lead_guest_count,
#tripleseat_embed_form #lead_phone_number {
    width: 100% !important;
}
#tripleseat_embed_form input, #tripleseat_embed_form textarea {
    padding: 0px 0px 15px 0 !important;
    border: 0px !important;
    border-bottom: 2px solid #666666 !important;
    box-shadow: none !important;
    background-image: none !important;
}
body input.hasDatepicker {
    border-radius: 0px !important;
}
@media (max-width: 768px) {
    body .gform_wrapper ul.gform_fields li.gfield {
        margin: 0 !important;
        padding: 0 15px !important;
        width: 100%;
        float: left;
        clear: none;
    }
    body .gform_wrapper .gform_footer.top_label {
        float: none !important;
        margin: 0 auto !important;
        width: 250px !important;
        display: block !important;
    }
    .our-partner .bx-wrapper .bx-controls-direction a {
        background:rgba(0,0,0,0.8);
    }
    .our-partner .bx-wrapper .bx-prev:after {
        position: absolute;
        content: "\f104";
        font-family: FontAwesome;
        left: 0px;
        right: 0px;
        text-align: center;
        font-size: 20px;
        z-index: 99999999999999;
        color: #fff;
        text-indent: 0;
    }
    .our-partner .bx-wrapper .bx-next:after {
        position: absolute;
        content: "\f105";
        font-family: FontAwesome;
        left: 0px;
        right: 0px;
        text-align: center;
        font-size: 20px;
        z-index: 99999999999999;
        color: #fff;
        text-indent: 0;

    }
}
@media (max-width: 641px) {
    body .gform_wrapper .gfield ul.gfield_radio li, body .gform_wrapper .gfield ul.gfield_checkbox li {
        width: 100%;
        display: block;
    }
    body .gform_wrapper .gfield ul.gfield_radio li input[type="radio"],
    body .gform_wrapper .gfield ul.gfield_checkbox li input[type="checkbox"] {
        margin-left: 0px !important;
    }
}
body .newsForm.JerseyCity, body .newsForm.LongIsland, body .newsForm.Buffalo, body .newsForm.Rochester, body .newsForm.Syracuse,
body .contactForm.JerseyCity, body .contactForm.LongIsland, body .contactForm.Buffalo, body .contactForm.Rochester, body .contactForm.Syracuse,
body .mapIframe.JerseyCity, body .mapIframe.LongIsland, body .mapIframe.Buffalo, body .mapIframe.Rochester, body .mapIframe.Syracuse,
body .playAndEatSec.JerseyCity, body .playAndEatSec.LongIsland, body .playAndEatSec.Buffalo, body .playAndEatSec.Rochester, body .playAndEatSec.Syracuse,
body a.map-btn.JerseyCity, body a.map-btn.LongIsland, body a.map-btn.Buffalo, body a.map-btn.Rochester, body a.map-btn.Syracuse,
body a.headerLocationLink.JerseyCity, body a.headerLocationLink.LongIsland, body a.headerLocationLink.Buffalo, body a.headerLocationLink.Rochester, body a.headerLocationLink.Syracuse {
    display: none;
}
body .calendarPage.JerseyCity, body .calendarPage.LongIsland, body .calendarPage.Buffalo, body .calendarPage.Rochester, body .calendarPage.Syracuse {
    height: 0;
    overflow: hidden;
}
.normalContent p {
    font-weight: normal;
}
.normalContent h1,
.normalContent h2,
.normalContent h3 {
    font-weight: normal;
    font-family: 'Bebas Neue';
}
.normalContent li {
    list-style: inherit;
    padding: 0px;
}


.our-partner  .container .bx-wrapper .bx-controls-direction a {
    top: 0%;
    margin-top: -70px;
}
