@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue.eot');
  src: url('../fonts/BebasNeue.woff2') format('woff2'),
       url('../fonts/BebasNeue.woff') format('woff'),
       url('../fonts/BebasNeue.ttf') format('truetype'),
       url('../fonts/BebasNeue.svg#Bebas Neue') format('svg'),
       url('../fonts/BebasNeue.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
